@import "variables";

@media only screen and (max-width: 1400px) {
  .settings-page__content {
    flex-direction: column-reverse;

    & > div {
      width: 100%;
      margin-bottom: 30px;
      position: static;
    }
  }

  .statistic {
    &__card__wrapper {
      .statCard{
        flex: 1 0 24% !important;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .statistic {
    &__card__wrapper {
      .statCard{
        flex: 1 0 35% !important;
      }
    }
  }
}

@media only screen and (max-width: $tablet-width) {

  .header {
    position: relative !important;
  }

  .content {
    padding-top: 20px !important;

    &-wrapper {
      flex-direction: column;

    }
  }

  .new-code-database {
    .content {
      &-wrapper {
        flex-direction: column-reverse;

        .tip-box {
          margin-bottom: 25px;
          margin-top: 0;
        }
      }
    }
  }

  .tip-box {
    width: 100% !important;
    margin-left: 0 !important;
    margin-top: 25px;
  }

  .progress-bar {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__item {
      width: 100% !important;

      &-title {
        &::after, &::before {
          content: none !important;
        }
      }
    }
  }

  .dashboard {
    &__statCards {
      flex-wrap: wrap;

      & .statCard {
        width: 50%;
      }
    }
  }

  .sidebar {
    &__nav {
      &-title {
        //background-color: #28313B !important;
      }

      &-menu {
        //background-color: #28313B !important;
      }
    }
  }


  .settings-page {

    &__content {
      flex-direction: column;

      &__item {
        margin-bottom: 25px;
      }
    }
  }

  .p-sticky {
    display: none;
  }
}


@media only screen and (max-width: 767px) {

  .dashboard__charts {
    flex-wrap: wrap;
  }

  .dashboard {
    &__statCards {
      flex-wrap: wrap;

      & .statCard {
        width: 100%;
      }
    }
  }

  .auth {
    width: 100%;
  }

  .ant-pagination-total-text {
    margin-top: -35px;
  }
  .ant-table-pagination {
    padding-top: 20px;
  }

  .checkbox-wrapper{
    width: auto !important;
  }

}

@media only screen and (max-width: 576px) {
  .ant-pagination-options {
    display: block;
  }

  .statisticsTable {
    &__header {
      flex-direction: column-reverse;
      height: 100px;

      &__search {
        width: 80% !important;
      }
    }
  }

  .statistic {
    &__card__wrapper {
      .statCard{
        flex: 1 0 50% !important;
      }
    }
  }
}


@media only screen and (max-width: 480px) {

  .header {
    padding: 0 10px;

    &__menu {
      &-name {
        &-text {
          display: none;
        }
      }

      &-bell {
        &-dropdown {
          width: 100% !important;
        }
      }
    }
  }

  .page-title {
    display: flex !important;
    flex-direction: column;
  }

  .content {
    padding: 80px 10px !important;
  }


  /////////-------AUTH----------/////////////
  .auth {
    &__box {
      padding-left: 5px !important;
      padding-right: 5px !important;
    }
  }

}



