$header-height: 46px;
$header-bg-color: #2b3643;
$header-menu-item-hover-color: #3f4f62;
$icon-color: #79869a;
$menu-item-color: #c6cfda;

$sidebar-bgcolor:#364150;
$sidebar-nav-title-color: #708096;

