.dashboard {
  padding: 60px 25px 20px;


  &__steps {
    &-container {
      width: 90%;
      margin: 0 auto;
    }
  }

  &__statCards {
    display: flex;
    justify-content: space-between;
  }

  &__charts{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

