@import "src/assets/scss/variables";

/// CONTENT-BOX STYLES ///

.content {

  &-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__box {
    width: 100%;
    background-color: #fafafa;
    padding: 30px 20px 60px;
    border-left: 2px solid #e6e9ec;
    height: max-content;
    border-radius: 5px;
    box-shadow: 0 0 24px 0 rgba(4, 14, 38, 0.16);


    &-title {
      font-size: $content-box-title-font-size;
      font-weight: $content-box-title-font-weight;
      color: $content-box-title-color;
      padding: 10px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      & > i {
        padding-right: 5px;
        font-size: 15px;
        margin-top: 3px;
      }
    }
  }
}


.light {
  padding: 12px 20px 15px 20px;
  background-color: #fff;
  border: 1px solid #e1e1e1;
}


/// TIP-BOX ///

.tip-box {
  width: 33%;
  margin-left: 30px;
  height: max-content;
  font-size: 14px;

  .content__box-title {
    text-transform: capitalize;
  }
}