@import "src/assets/scss/variables";

.page-title {
  padding: 0;
  font-size: $page-title-text-size;
  letter-spacing: -1px;
  display: block;
  color: $page-title-text-color;
  margin: 0 0 15px 0;
  font-weight: bold;

  small {
    font-size: $page-sub-title-text-size;
    letter-spacing: 0;
    font-weight: 300;
    color: $page-sub-title-text-color;
    padding-left: 5px;
  }
}