@import "src/assets/scss/variables";

.float-label {
  position: relative;
}

.label {
  font-size: 16px;
  color: $basic-text-color;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  transition: 0.2s ease all;
}

.label-float {
  top: -20px;
  font-size: 14px;
}

/// fonts colors ///

.fontColor--green {
  color: #4CB8B0;
}

.fontColor--blue {
  color: #66afe9;
}