.chart {
  margin: 0 15px 25px;
  width: 100%;

  &__top {
    &-title {
      text-align: start;
      font-size: 18px;
      font-weight: 400;

      & i{
        padding-right: 10px;
      }
    }
  }
}


/// CHANGE CHART.JS TOOLTIP ///
#chartjs-tooltip {

}

.chart__tooltip-text{
  font-size: 30px;
}

canvas{
  width: 100% !important;
}