.new-code-database {

}

.content-wrapper {

  &__left {
    width: 100%;
  }

  &__content {

    &__item {
      margin: 0 0 35px 0;
      padding-top: 20px;

      &--error{
        color: red;
      }
    }
  }
}