@import "src/assets/scss/variables";


/// CONTENT ///
.content {
  transition: margin-left .6s;
  padding: $page-content-padding + $header-height $page-content-padding $page-content-padding;
}


/// DROPDOWN ///

.dropdown {
  min-width: 160px;
  max-width: 320px;
  z-index: 9999;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .4);
  border-radius: 2px;
}


//// fix float behavior ////

.self_clear:after {
  content: "";
  clear: both;
  display: table;
}


/// ADDITIONAL ///

.bold {
  font-weight: bold;
}

.ant-layout {
  background: #fff;
}

.ant-breadcrumb-separator {
  vertical-align: text-bottom;
}

/// COMMON TO PAGES ///
.page-bar {
  padding: 0;
  background-color: $breadcrumbs-box-bg-color;
  box-shadow: $breadcrumbs-box-box-shadow;
  margin-bottom: 45px;
  border-radius: 5px;
}

.page-breadcrumb {
  padding: 8px 25px;
  margin: 0;

  span {
    display: inline-flex;
  }

  &-icon {
    color: #aaa;
    font-size: $breadcrumbs-box-font-size;
    text-shadow: none;
    padding-right: 5px;
  }

  &-item {
    color: $breadcrumbs-box-text-color;
    font-size: $breadcrumbs-box-font-size;
    font-weight: $breadcrumbs-box-font-weight;
    text-shadow: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .ant-breadcrumb-separator {
    font-size: $breadcrumbs-box-font-size;
  }
}


/// THEADER FOR TABLE ///

.ant-table-thead > tr > th {
  font-weight: 700 !important;
}


/// NAV LINK ACTIVE CLASS ///

.nav-link--active {
  color: #b4bcc8 !important;
}


/// 404 ///

.header-404 {
  font-size: 36px;
  text-align: center;
  height: 300px;
  line-height: 300px;
}

////////

.text-blue {
  color: #6BB9DF;
}

.text-red {
  color: #C23E6A;
}

/// custom-input ///

.custom-input {
  border: none;
  background-color: inherit;
  border-bottom: 2px solid #e5e5e5;
  padding-left: 0;

  &:hover {
    border-bottom: 2px solid #e5e5e5;
  }

  &:focus {
    border-color: black;
    box-shadow: none;
    border-bottom: 2px solid;
    border-bottom-color: rgb(117, 162, 254);
    transition: 1s ease all;

  }
}

/// custom-select ///

.custom-select {

  .ant-select-selector {
    border: none !important;
    background-color: inherit !important;
    border-bottom: 2px solid #e5e5e5 !important;
    padding-left: 0 !important;
  }
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
  box-shadow: none;
  border-bottom: 2px solid !important;
  border-bottom-color: #66afe9 !important;
  transition: 1s ease all;

}

.ant-select-single.ant-select-show-arrow .ant-select-selection-search {
  left: 0;
}

/// custom-text-area ///

.custom-text-area {
  height: 200px !important;
}

/// margins ///

.mtb-60 {
  margin: 60px 0;
}

/// btn ///

.btn {
  color: $basic-btn-text-color;
  background-color: $basic-btn-bg-color;
  border-radius: $basic-btn-border-radius;
  font-size: $basic-btn-font-size;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  &:focus, &:hover, &:active {
    color: #FFFFFF;
    background-color: $basic-text-color;
  }

  &--green {
    background-color: #26a69a;

    &:focus, &:hover, &:active {
      background-color: #1f897f;
    }
  }

  &--blue {
    background-color: rgb(117, 162, 254);
  }

  &--danger {
    background-color: rgb(255, 0, 72);
  }

  &--accept {
    background-color: rgb(57, 195, 67);
  }

  &--light-blue{
    background-color: rgb(117, 162, 254);
  }
}


.hide-header-height {
  height: 800px;
}


//////////////

.settings-header {
  .content__box-title {
    color: #E36A6A;
  }
}

.mb20 {
  margin-bottom: 20px;
}

.info-header {
  .content__box-title {
    color: #8AC3F4;
  }
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.p-sticky {
  position: sticky;
  top: 60px
}

////////////--GRADIENTS--//////////////

.mate-black-gradient {
  background: $mate-black-gradient;
}

.purple-blue-gradient {
  background: $purple-blue-gradient;
}

.rose-orange-gradient {
  background: $rose-orange-gradient;
}

.lilac-blue-gradient {
  background: $lilac-blue-gradient;
}

.rose-black-gradient{
  background: $rose-black-gradient;
}

.gold-orange-gradient{
  background: $gold-orange-gradient;
}

.orange-rose-gradient{
  background: $orange-rose-gradient;
}

.violet-blue-gradient{
  background: $violet-blue-gradient;
}



////////

.width--100 {
  width: 100% !important;
}

.width--80 {
  width: 80% !important;
}

.width--60 {
  width: 58% !important;
}

.width--40 {
  width: 40.5% !important;
}

.text-center {
  text-align: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-text {
  font-size: 16px;
  font-weight: 300;
}

.margin-center {
  margin: 0 auto;
}

.link-text {
  color: rgb(87, 123, 171);
  text-decoration: underline;
  cursor: pointer;
}

.font-size-14 {
  font-size: 14px;
}

.ant-tag {
  border-radius: $basic-border-radius;
  font-size: 16px;
}


.custom-hr {
  background-color: rgb(102, 102, 136);
  opacity: 0.2;
}

.custom-box-shadow {
  box-shadow: $breadcrumbs-box-box-shadow;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.d-flex{
  display: flex;
}