/// CONTENT ///

.content {
  transition: margin-left .6s;
  padding: 60px 25px 20px;

}


/// DROPDOWN ///

.dropdown {
  min-width: 160px;
  max-width: 320px;
  z-index: 9999;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .4);
  border-radius: 2px;
}


//// fix float behavior ////

.self_clear:after {
  content: "";
  clear: both;
  display: table;
}


/// ADDITIONAL ///

.bold {
  font-weight: bold;
}

.ant-layout {
  background: #fff;
}

.ant-breadcrumb-separator {
  vertical-align: text-bottom;
}

/// COMMON TO PAGES ///
.page-bar {
  padding: 0px;
  background-color: #f7f7f7;
  margin-bottom: 25px;
}

.page-breadcrumb {
  padding: 8px;
  margin: 0;

  &-icon {
    color: #aaa;
    font-size: 14px;
    text-shadow: none;
    padding-right: 5px;
  }

  &-item {
    color: #888 !important;
    font-size: 14px;
    text-shadow: none;

    &:hover {
      text-decoration: underline;
    }
  }
}


/// THEADER FOR TABLE ///

.ant-table-thead > tr > th {
  font-weight: 700 !important;
}


/// NAV LINK ACTIVE CLASS ///

.nav-link--active {
  color: #b4bcc8 !important;
}


/// 404 ///

.header-404 {
  font-size: 36px;
  text-align: center;
  height: 300px;
  line-height: 300px;
}

